# Bonus: Temperature Analysis I

In [14]:
import pandas as pd
from datetime import datetime as dt

In [15]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [17]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [18]:
# Set the date column as the DataFrame index
df1 = df.set_index('date')
df1

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [19]:
# Drop the date column

# why? setting the index already drops the column...
# df.drop('date')
df1.columns

Index(['station', 'prcp', 'tobs'], dtype='object')

### Compare June and December data across all years

In [7]:
from scipy import stats

In [25]:
# Filter data for desired months
Jun_df = df[df['date'].dt.month == 6]
Jun_df.set_index('date', inplace = True)
print(Jun_df)

Dec_df = df[df['date'].dt.month == 12]
Dec_df.set_index('date', inplace = True)
print(Dec_df)

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]
                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [29]:
# Identify the average temperature for June
print(f"The average temperature for June is {Jun_df['tobs'].mean()} F")

The average temperature for June is 74.94411764705882 F

In [30]:
# Identify the average temperature for December
print(f"The average temperature for December is {Dec_df['tobs'].mean()} F")

The average temperature for December is 71.04152933421226 F

In [51]:
# Create collections of temperature data
JunDec = Jun_df.append(Dec_df)
JunDec_tobs = JunDec[['station', 'tobs']]
JunDec_tobs

/var/folders/s2/bz8ncph158qd5mt0ypmk1v4w0000gn/T/ipykernel_44658/3006391292.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  JunDec = Jun_df.append(Dec_df)

                station  tobs
date
2010-06-01  USC00519397    78
2010-06-02  USC00519397    76
2010-06-03  USC00519397    78
2010-06-04  USC00519397    76
2010-06-05  USC00519397    77
...                 ...   ...
2016-12-27  USC00516128    71
2016-12-28  USC00516128    71
2016-12-29  USC00516128    69
2016-12-30  USC00516128    65
2016-12-31  USC00516128    65

[3217 rows x 2 columns]

In [64]:
# avg_temp_j=(session.query(func.avg(HawaiiPrcpTobs.tobs))
#                   .filter(func.strftime('%m',HawaiiPrcpTobs.date) == '06')
#                   .all())
# avg_temp_j

Jun_df.mean(1)

/var/folders/s2/bz8ncph158qd5mt0ypmk1v4w0000gn/T/ipykernel_44658/3440444487.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Jun_df.mean(1)

date
2010-06-01    39.000
2010-06-02    38.005
2010-06-03    39.000
2010-06-04    38.000
2010-06-05    38.500
               ...
2017-06-26    39.510
2017-06-27    37.050
2017-06-28    37.010
2017-06-29    38.020
2017-06-30    37.600
Length: 1700, dtype: float64

In [12]:
# Run paired t-test

### Analysis